<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Properties>
		<Property name="basePath">./Log</Property>
	</Properties>
	
	<Appenders>
		<RollingFile name="File" fileName="${basePath}/jktech.log" filePattern="${basePath}/jktech-%d{dd-MM-YYYY - HH-mm}.log">
			<PatternLayout pattern="%d{dd-MM-YYYY - HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<SizeBasedTriggeringPolicy size="1000" />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd-MM-YYYY - HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	
	<Loggers>
	<Logger name="com.jktech.Apackage.TestCaseA" level="warn" additivity="false">
			<AppenderRef ref="File" />
		</Logger>
		
		<Root level="trace">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
	
</Configuration>




